*.min.js
jquery*
static/**/nls/**
static/bundles/CodeSniffer/**
static/bundles/bootstrap-toggle-buttons/jquery.toggle.buttons.js
static/bundles/jquery-timepicker/**
static/bundles/jquery-ui/**
static/bundles/jquery-ui/js/jquery-ui.js
static/bundles/markdown/**
static/bundles/vendor/**
static/bundles/videojs/**
static/bundles/wysihtml5/**
static/bundles/zeroclipboard/*
static/js/lib/backbone.relational.js
static/js/lib/backbone.stickit.js
static/js/lib/beautify-css.js
static/js/lib/beautify-html.js
static/js/lib/beautify.js
static/js/lib/bootstrap*.js
static/js/lib/crossfilter.v1.amd.js
static/js/lib/d3.v3.js
static/js/lib/d3.tip.amd.js
static/js/lib/dc.v2.amd.js
static/js/lib/detect.js
static/js/lib/drag.js
static/js/lib/forms.js
static/js/lib/html.md.js
static/js/lib/jquery.*.js
static/js/lib/json2.js
static/js/lib/jsoneditor.v0-7-10.js
static/js/lib/librato.metrics.js
static/js/lib/lucid.2.7.0.js
static/js/lib/lucid.js
static/js/lib/lunr.js
static/js/lib/marked.js
static/js/lib/modals.js
static/js/lib/nvd3.js
static/js/lib/q.js
static/js/lib/select2.js
static/js/lib/sinon.js
static/js/lib/swfobject.js
static/js/lib/tokenizer.js
static/js/lib/vega.js
static/js/lib/wysihtml5.js
static/js/vendor/*
static/pages/hg/**
